@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-night:#171614;
  --color-Lavanda:#be39fd;
  --font-motserrat: 'montserrat',sans-serif;
  --font-medulaone: 'MedulaOne-Regular', sans-serif;
  --font-Gill: 'Gill Sans',sans-serif;
  
}
@font-face {
  font-family: 'Gill Sans';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/font/Gill Sans Bold.otf") format("opentype");
}
@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/font/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: 'MedulaOne-Regular';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/font/Gill Sans Bold.otf") format("truetype");
}






